Config(
  width: Absolute(1000),
  height: Absolute(0),

  x: Fraction(0.5),
  y: Fraction(0.3),

  hide_icons: false,
  ignore_exclusive_zones: false,
  layer: Overlay,
  hide_plugin_info: false,
  close_on_click: false,
  show_results_immediately: false,
  max_entries: None,
  plugins: [
    "libhyprwin.so",
    "librink.so",
    "libapplications.so",
    "libwebsearch.so",
    "libhandlr.so",
    "librandr.so",
    "libshell.so",
    "libtranslate.so",
    "libsymbols.so",
  ],
)
